
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Stay Home &amp; Fill Your Forms.</h1>
    <p class="lead">Fulling your neccessities from the comfort of your home in just 3 minutes. <small class="text-muted"> FILL AWAY</small> </p>
    
    <p class="lead">
      <%= link_to "Sign In", new_account_session_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>